.section-about {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  width: 100%;
  padding-top: 20rem;
}

.section-servisic {
  width: 100%;
  padding-top: 7rem;
}

.section-process {
  width: 100%;
  padding-top: 7rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #FFFFFF;
}

.btn,
.btn:link,
.btn:visited {
  border: 1.5px solid #FFFFFF;
  padding: 1.5rem 1rem;
  color: #FFFFFF;
  width: 15rem;
  border-radius: 5rem;
  background: none;
  transition: all 0.2s;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.headar-btn__activ {
  display: none;
}

.headar-btn {
  display: block;
}

.withe-btn {
  background-color: #FFFFFF;
  color: #112D57;
}

.blue-btn {
  background: #03D6F3;
  color: #FFFFFF;
  padding: 1.5rem 0.8rem;
  font-size: 1.4rem;
}

.border-blue-btn {
  border: 1px solid #03D6F3;
  color: #03D6F3;
  padding: 1.5rem 0.8rem;
  font-size: 1.4rem;
}

.long-btn {
  width: 23rem;
  color: #000;
  background: #EFEFEF;
  border: 1px solid #D0D0D0;
  border-radius: 6px;
}

@media screen and (min-width: 901px) {
  .headar-btn__activ {
    display: block;
  }

  .headar-btn {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .headar-btn {
    margin-right: -25rem;
  }
}
@media screen and (max-width: 750px) {
  .headar-btn {
    margin-right: -10rem;
  }
}
@media screen and (max-width: 650px) {
  .headar-btn {
    margin-right: -5rem;
  }
}
@media screen and (max-width: 570px) {
  .headar-btn {
    padding: 0.5rem;
    margin-right: 0rem;
    width: 5.5rem;
    font-size: 1.3rem;
  }
}
.header {
  width: 100%;
  position: absolute;
}
.header__mobile-manu {
  display: none;
}
.header__mobile-manu__navbar {
  display: none;
}
.header__mobile-manu__navbar__activ {
  width: 65%;
  position: absolute;
  top: 25px;
  left: 5rem;
  background: #00000036;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff57;
  animation: moveInNavbar 0.4s ease-out 0.2s;
  animation-fill-mode: backwards;
  box-shadow: 3px 3px 0px #00000014;
  padding: 25px 10px;
}
@media screen and (max-width: 570px) {
  .header__mobile-manu__navbar__activ {
    left: 2rem;
  }
}
.header__mobile-manu__navbar__activ ul li {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  transition: all 0.2s;
}
.header__mobile-manu__navbar__activ ul li:not(:last-child) {
  margin-right: 2rem;
}
.header__mobile-manu__navbar__activ ul li:hover {
  transform: translateY(-2.5px) scale(1.1);
}
.header__mobile-manu__navbar__activ ul li:active {
  transform: translateY(0px) scale(1);
}
@media screen and (max-width: 470px) {
  .header__mobile-manu__navbar__activ ul li {
    font-size: 1.5rem;
  }
  .header__mobile-manu__navbar__activ ul li:not(:last-child) {
    margin-right: 1.5rem;
  }
}
.header__content {
  margin: 0 7rem;
  padding: 3rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content__logo-box {
  transform: translateY(-5px);
}
.header__manu ul {
  list-style: none;
}
.header__manu ul li {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
  display: inline-block;
  color: #FFFFFF;
}
.header__manu ul li:not(:last-child) {
  margin-right: 2rem;
}
.header__manu ul li:hover {
  transform: translateY(-2.5px) scale(1.1);
}
.header__manu ul li:active {
  transform: translateY(0px) scale(1);
}
.header .logo {
  display: block;
}
.header .logo__activ {
  display: none;
}
@media screen and (min-width: 900px) {
  .header .logo {
    display: block;
  }
  .header .logo__activ {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .header__manu {
    display: none;
  }
  .header__mobile-manu {
    display: block;
  }
}
@media screen and (max-width: 570px) {
  .header__mobile-manu svg {
    width: 35px;
  }
}

.continer {
  max-width: 114rem;
  margin: 0 auto;
}
.continer__footer {
  max-width: 114rem;
  margin: 0 auto;
}

.footer {
  background: #112D57;
}
.footer .footer-box-1 {
  width: 25rem;
  margin-right: 5rem;
}
@media screen and (max-width: 900px) {
  .footer .footer-box-1 {
    width: 27rem;
    margin: 0;
  }
}
.footer .footer-box-3 {
  width: 30%;
  margin-left: 5rem;
}
@media screen and (max-width: 900px) {
  .footer .footer-box-3 {
    width: auto;
    margin: 0;
  }
}
.footer__content {
  margin: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(4rem);
}
@media screen and (max-width: 1050px) {
  .footer__content {
    transform: translateX(0);
  }
}
.footer__content nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  transform: translateY(1rem);
  width: 100%;
}
.footer__content nav ul {
  font-size: 1.6rem;
  list-style: none;
}
.footer__content nav ul:not(:last-child) {
  margin-right: 2rem;
}
.footer__content nav ul li {
  transition: all 0.3s;
  cursor: default;
}
.footer__content nav ul li:hover {
  color: #112D57;
  background-color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(3deg) scale(1.3);
  border-radius: 30px;
}
.footer__content .text-mind {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .footer__content {
    flex-direction: column;
    padding: 5rem 0;
  }
}
.footer__contact__wrapper-1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__contact__wrapper-1 span {
  margin-left: 2rem;
  font-size: 1.4rem;
}
.footer__contact__wrapper-2 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__contact__wrapper-2 span {
  margin-left: 2rem;
  font-size: 1.4rem;
}
.footer__contact__wrapper-3 {
  display: flex;
  align-items: center;
}
.footer__contact__wrapper-3 svg:not(:last-child) {
  margin-right: 2rem;
}
.footer svg {
  cursor: pointer;
  transition: all 0.2s;
}
.footer svg:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.5rem) rotate(1deg) scale(1.1);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInNavbar {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.section1-content {
  margin: 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1-content__title {
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 6.5rem;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 50rem;
}
.section1-content__paragrap {
  text-align: center;
  letter-spacing: 0.2px;
  color: #E5E5E5;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.section1-content__img-section1 {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 570px) {
  .section1-content__wrapper-buttons {
    display: flex;
    flex-direction: column;
  }
  .section1-content__wrapper-buttons .btn:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.title {
  cursor: default;
  transition: all 0.3s;
}
.title:hover {
  transform: skewY(1.5deg) skewX(10deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.u-margin-bottom-8 {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-8 {
    margin-bottom: 5rem !important;
  }
}

.u-margin-right-2 {
  margin-right: 2rem !important;
}

.u-margin-bottom-4 {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-4 {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.u-margin-top-8 {
  margin-top: 8rem !important;
}

.u-margin-top-10 {
  margin-top: 10rem !important;
}

.transition-10 {
  transform: translateY(-10rem);
}

.transition-13 {
  transform: translateY(-13rem);
}

.transition-18 {
  transform: translateY(-18rem);
}
@media screen and (max-width: 900px) {
  .transition-18 {
    transform: translateY(-30rem);
  }
}

.transition-7 {
  transform: translateY(-7rem);
}

.img-anim:hover {
  position: absolute;
  animation: moveInLeft 2s;
}

.section2-content {
  margin: 0 7rem;
}
.section2-content__title {
  font-size: 3.2rem;
  text-align: center;
  max-width: 50rem;
  line-height: 5rem;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
  margin: 0 auto;
}
.section2-content__wrapper-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2-content__wrapper-boxes__box {
  max-width: 240px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2rem 3rem 3rem 3rem;
  transition: all 0.2s;
}
.section2-content__wrapper-boxes__box:not(:last-child) {
  margin-right: 2rem;
}
.section2-content__wrapper-boxes__box:hover {
  transform: skewX(1deg);
}
.section2-content__wrapper-boxes__box svg {
  margin-bottom: 5px;
  width: 45px;
}
.section2-content__wrapper-boxes__box h3 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.3rem;
  color: #000000;
  margin-bottom: 1.5rem;
}
.section2-content__wrapper-boxes__box p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.4px;
  color: #5C5C5C;
  margin-bottom: 1.5rem;
}
.section2-content__wrapper-boxes__box a {
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #03D6F3;
}
.section2-content__wrapper-boxes__box a:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.section2-content__wrapper-boxes__box:nth-child(2) {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}
.section2-content__wrapper-boxes__box:nth-child(2) > * {
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .section2-content__wrapper-boxes {
    flex-direction: column;
  }
  .section2-content__wrapper-boxes__box:not(:last-child) {
    margin: 0 0 2rem 0;
  }
}

.section3-content {
  margin: 0 7rem;
}
.section3-content h2 {
  text-align: center;
  font-size: 3.5rem;
  max-width: 35rem;
  line-height: 5rem;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.section3-content p {
  max-width: 35rem;
  letter-spacing: 0.2px;
  color: #5C5C5C;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 3rem;
}
.section3-content__wrapper-img {
  float: right;
  transform: translate(5rem, -20rem);
  width: 40rem;
}
.section3-content__wrapper-img img {
  width: 100%;
  height: auto;
}
.section3-content__wrapper-buttons {
  display: flex;
}
.section3-content__wrapper-buttons .btn:not(:last-child) {
  margin-right: 1rem;
}
@media screen and (max-width: 900px) {
  .section3-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section3-content__wrapper-img {
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 570px) {
  .section3-content__wrapper-buttons {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }
  .section3-content .btn {
    width: 100%;
  }
  .section3-content .btn:not(:last-child) {
    margin: 0 0 2rem 0;
  }
}

.section4-content {
  display: flex;
  justify-content: space-between;
  margin: 19rem 7rem;
}
.section4-content h2 {
  text-align: center;
  font-size: 3.5rem;
  max-width: 35rem;
  line-height: 5rem;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.section4-content p {
  max-width: 35rem;
  letter-spacing: 0.2px;
  color: #5C5C5C;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 3rem;
}
.section4-content__mobile-title {
  display: none;
}
@media screen and (max-width: 900px) {
  .section4-content__mobile-title {
    display: block;
  }
}
.section4-content__mobile-text {
  display: none;
}
@media screen and (max-width: 900px) {
  .section4-content__mobile-text {
    display: block;
  }
}
.section4-content__big-screen-title {
  display: block;
}
@media screen and (max-width: 900px) {
  .section4-content__big-screen-title {
    display: none;
  }
}
.section4-content__big-screen-text {
  display: block;
}
@media screen and (max-width: 900px) {
  .section4-content__big-screen-text {
    display: none;
  }
}
.section4-content__wrapper-img {
  transform: translateY(-5rem);
  width: 40rem;
}
@media screen and (max-width: 1100px) {
  .section4-content__wrapper-img {
    transform: translate(-5rem, -5rem);
  }
}
.section4-content__wrapper-img img {
  width: 100%;
  height: auto;
}
.section4-content__wrapper-buttons {
  display: flex;
}
.section4-content__wrapper-buttons .btn:not(:last-child) {
  margin-right: 1rem;
}
.section4-content__wrapper-buttons__mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .section4-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section4-content__wrapper-img {
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 570px) {
  .section4-content__wrapper-buttons {
    width: 100%;
    display: block;
  }
  .section4-content .btn {
    width: 100%;
  }
  .section4-content .btn:not(:last-child) {
    margin: 0 0 2rem 0;
  }
}

.section5-content {
  margin: 0 7rem;
}
.section5-content__wrapper-img {
  transform: translateY(-22rem);
  width: 50rem;
}
@media screen and (max-width: 1100px) {
  .section5-content__wrapper-img {
    transform: translateY(-20rem);
    max-width: 40rem;
  }
}
@media screen and (max-width: 1000px) {
  .section5-content__wrapper-img {
    transform: translateY(-18.5rem);
    max-width: 35rem;
    margin: 0 -3rem;
  }
}
.section5-content__wrapper-img img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.section5-content__wrapper-img img:hover {
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 1px #5c2929;
  transform: scale(0.9);
  vertical-align: middle;
}
@media screen and (max-width: 900px) {
  .section5-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section5-content__wrapper-img {
    transform: translate(0, 0);
  }
}

.section6-content {
  margin: 26rem 7rem 0 7rem;
}
.section6-content__title {
  font-size: 3.2rem;
  text-align: center;
  max-width: 50rem;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
  margin: 0 auto;
}
.section6-content span {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5C5C5C;
}
.section6-content p {
  letter-spacing: 0.2px;
  color: #5C5C5C;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 2rem 0 3rem 0;
}
.section6-content__wrapper-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section6-content__wrapper-boxes__box {
  max-width: 340px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  padding: 2rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section6-content__wrapper-boxes__box:not(:last-child) {
  margin-right: 2rem;
}
.section6-content__wrapper-boxes__box img {
  width: 100%;
}
.section6-content__wrapper-boxes__box__money {
  margin-top: 3rem;
  display: inline-flex;
}
.section6-content__wrapper-boxes__box__money div .num {
  font-size: 6rem;
  color: #30D7BA;
  font-weight: 900;
}
@media screen and (max-width: 1000px) {
  .section6-content__wrapper-boxes__box__money div .num {
    font-size: 4.5rem;
  }
}
.section6-content__wrapper-boxes__box__money div .dollars {
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: -1rem;
  color: #30D7BA;
  font-weight: 900;
}
@media screen and (max-width: 1000px) {
  .section6-content__wrapper-boxes__box__money div .dollars {
    font-size: 2rem;
  }
}
.section6-content__wrapper-boxes__box__money .costom {
  font-size: 1.4rem;
  margin-left: -2rem;
  margin-top: -1.5rem;
}
@media screen and (max-width: 1000px) {
  .section6-content__wrapper-boxes__box__money .costom {
    font-size: 1.4rem;
  }
}
.section6-content__wrapper-boxes__box h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.3rem;
  color: #000000;
  margin-bottom: 1.5rem;
}
.section6-content__wrapper-boxes__box p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.4px;
  color: #5C5C5C;
  margin-bottom: 1.5rem;
}
.section6-content__wrapper-boxes__box ul {
  list-style: none;
  margin: 1rem 0;
}
.section6-content__wrapper-boxes__box ul li {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #000000;
  transition: all 0.3s;
}
.section6-content__wrapper-boxes__box ul li:hover {
  color: #30D7BA;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(3deg) scale(1.3);
  border-radius: 30px;
}
@media screen and (max-width: 900px) {
  .section6-content__wrapper-boxes {
    flex-direction: column;
  }
  .section6-content__wrapper-boxes__box {
    max-width: 370px;
  }
  .section6-content__wrapper-boxes__box:not(:last-child) {
    margin: 0 0 2rem 0;
  }
}

.section7-content {
  margin: 4rem 0 8rem 0;
}
.section7-content__title {
  font-size: 3.2rem;
  text-align: center;
  max-width: 50rem;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
  margin: 0 auto;
}
.section7-content p {
  letter-spacing: 0.2px;
  color: #5C5C5C;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 2rem 0 3rem 0;
}
.section7-content__wrapper-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section7-content__wrapper-buttons .btn:not(:last-child) {
  margin-right: 1rem;
}

#map {
  width: 35%;
  height: 25rem;
  border-radius: 2rem;
  margin: 7rem 0;
}
@media screen and (max-width: 900px) {
  #map {
    margin: 5rem 0;
    width: 30rem;
  }
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: #ebebeb;
}

/*# sourceMappingURL=main.css.map */
