
$continer-width: 114rem;

.section-about {
    background: linear-gradient( 230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
    width: 100%;
    padding-top: 20rem;
}

.section-servisic {
    width: 100%;
    padding-top: 7rem;
}

.section-process{
    width: 100%;
    padding-top: 7rem;
}

